---
import HomeLayout from "../layouts/HomeLayout.astro";
const pageTitle = "Home Page";
---

<HomeLayout pageTille={pageTitle} />
<!-- <BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout> -->
