---
import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/Hero.astro";
import Solutions from "../components/Solutions/Solutions.astro";
import FeatureIn from "../components/FeatureIn.astro";
import Testimonials from "../components/Testimonials/Testimonials.astro";
import Form from "../components/Form.astro";

const pageTitle = "Acceuil";
---

<HomeLayout pageTille={pageTitle}>
	<main>
		<Hero />
		<FeatureIn />
		<Solutions />
		<Testimonials />
		<Form />
	</main>
</HomeLayout>
