---
import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/Hero.astro";
import NosSolutions from "../components/NosSolutions.astro";

const pageTitle = "Acceuil";
---

<HomeLayout pageTille={pageTitle}>
	<main>
		<Hero />
		<NosSolutions />
	</main>
</HomeLayout>
<!-- <BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
</BaseLayout> -->
