---
import HomeLayout from "../layouts/HomeLayout.astro";
import Hero from "../components/Hero.astro";
import NosSolutions from "../components/NosSolutions.astro";
import FeatureIn from "../components/FeatureIn.astro";
import Testimonials from "../components/Testimonials.astro";
import Form from "../components/Form.astro";

const pageTitle = "Acceuil";
---

<HomeLayout pageTille={pageTitle}>
	<main>
		<Hero />
		<!-- <FeatureIn /> -->
		<NosSolutions />
		<Testimonials />
		<Form />
	</main>
</HomeLayout>
