---
const { title, links } = Astro.props;
---

<div class="flex flex-col gap-12 md:w-1/5">
    <!-- Affichage du titre -->
    <p class="font-bold text-3xl lg:text-4xl">{title}</p>

    <!-- Liste des liens -->
    <ul class="flex flex-col gap-4">
        {
            links.map((link) => (
                <li>
                    <a
                        href={link.href}
                        class=" text-lg text-gray-400 hover:text-white md:text-xl lg:text-3xl"
                    >
                        {link.text}
                    </a>
                </li>
            ))
        }
    </ul>
</div>
