---

---

<div class="hamburger block cursor-pointer">
    <span class="block w-10 h-1 mb-2 bg-gray-800"></span>
    <span class="block w-10 h-1 mb-2 bg-gray-800"></span>
    <span class="block w-10 h-1 bg-gray-800"></span>
</div>

<button>
    <ion-icon name="menu-outline"></ion-icon>
    <ion-icon name="close-outline"></ion-icon>
</button>

<!-- .hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #ff9776;
} -->
