<!-- sm:hidden -->
<button class="hamburger cursor-pointer z-50 sm:hidden">
  <ion-icon name="menu-outline" class="menu-outline text-gray-800 h-12 w-12"
  ></ion-icon>
  <ion-icon
    name="close-outline"
    class="close-outline text-gray-800 h-12 w-12 hidden"></ion-icon>
</button>
