---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { Image } from "astro:assets";
import aySolutionLogo from "../content/img/logos/ay-solution.png";
---

<!-- Height h-37 because we want to heade to be sticky later -->
<header class="flex justify-between items-center h-37 px-8 bg-white lg:px-12">
    <Image src={aySolutionLogo} alt="ay solution logo" class="h-37 w-40" />
    <Navigation />
</header>

<!-- <header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header> -->
