---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import { Image } from "astro:assets";
import aySolutionLogo from "../content/img/logos/ay-solution.png";
---

<!-- Height h-37 because we want to heade to be sticky later -->
<header
    class="sm:flex sm:justify-between sm:items-center sm:h-37 sm:px-8 bg-white lg:px-12"
>
    <!-- <Image
        src={aySolutionLogo}
        alt="ay solution logo"
        class="h-20 w-20 sm:h-37 sm:w-40"
    /> -->
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>

<!-- <header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header> -->
