---
const { HeadersubTitle, HeaderTitle } = Astro.props;
---

<div class="container mx-auto">
    <span
        class="block mb-4 text-sky-500 text-2xl font-medium uppercase tracking-wider lg:text-2xl xl:text-4xl 2xl:text-5xl"
        >{HeadersubTitle}</span
    >
    <h2
        class="mb-9 text-sky-700 text-5xl tracking-tighter font-bold md:mb-24 lg:text-6xl xl:text-7xl 2xl:text-8xl"
    >
        {HeaderTitle}
    </h2>
</div>
