---
import { Image } from "astro:assets";
import heroImage from "../content/img/hero.png";
import group7 from "../content/img/group7.png";
import customer1 from "../content/img/customers/customer-1.jpg";
import customer2 from "../content/img/customers/customer-2.jpg";
import customer3 from "../content/img/customers/customer-3.jpg";
import customer4 from "../content/img/customers/customer-4.jpg";
import customer5 from "../content/img/customers/customer-5.jpg";
import customer6 from "../content/img/customers/customer-6.jpg";

const customers = [
    { src: customer1, alt: "customer 1" },
    { src: customer2, alt: "customer 2" },
    { src: customer3, alt: "customer 3" },
    { src: customer4, alt: "customer 4" },
    { src: customer5, alt: "customer 5" },
    { src: customer6, alt: "customer 6" },
];
---

<section class="bg-sky-100 pt-12 pb-24">
    <div
        class="container mx-auto px-8 grid grid-cols-1 gap-16 text-center lg:lg:grid-cols-2 lg:gap-12 lg:items-center lg:text-start xl:gap-24"
    >
        <div>
            <h1
                class="text-sky-700 text-5xl mb-8 tracking-tighter font-bold md:text-6xl lg:text-5xl xl:text-6xl 2xl:text-7xl"
            >
                Transformez votre entreprise avec notre expertise
            </h1>
            <p
                class="text-3xl leading-normal mb-12 md:text-3xl xl:text-4xl 2xl:text-5xl"
            >
                Services complets : Sécurité éléctronique, Digitale,
                Informatique & Télécom, Gestion d'encaissement
            </p>
            <a
                href="#"
                class="inline-block text-2xl rounded-xl bg-sky-400 px-5 py-4 font-semibold text-white hover:bg-sky-800 active:bg-sky-800 transition-colors duration-300 mr-4 xl:text-3xl 2xl:text-4xl"
            >
                Contactez-nous: 07025026014
            </a>
            <a
                href="#nos-solutions"
                class="inline-block text-2xl rounded-xl bg-white px-5 py-4 font-semibold text-black shadow-sm hover:bg-sky-100 hover:ring-4 hover:ring-inset hover:ring-white active:bg-sky-100 transition-colors duration-300 xl:text-3xl 2xl:text-4xl"
            >
                En savoir plus &darr;
            </a>
            <div
                class="mt-8 flex items-center justify-center gap-6 lg:mt-20 lg:justify-start"
            >
                <div class="flex">
                    {
                        customers.map((customer) => (
                            <Image
                                src={customer.src}
                                alt={customer.alt}
                                class="h-20 w-20 rounded-full -mr-4 border-4 border-solid border-sky-100 lg:h-16 lg:w-16"
                            />
                        ))
                    }
                </div>
                <p class="text-2xl font-semibold xl:text-3xl 2xl:text-4xl">
                    <span class="text-sky-500 font-bold">60+ </span>entreprises
                    nous font confiance
                </p>
            </div>
        </div>
        <Image
            src={group7}
            alt="Hero image"
            class="w-3/5 justify-self-center lg:w-full"
        />
    </div>
</section>
