---
const navLinks = [
    { text: "Acceuil", href: "/", style: "text-gray-800 hover:text-sky-800" },
    {
        text: "Nos solutions",
        href: "#nos-solutions",
    },
    {
        text: "Témoignages",
        href: "#temoignages",
    },
    { text: "Blog", href: "/blog" },
];
---

<style>
    .nav-open {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }
</style>

<!-- 1) hide visually opacity-0 2) make it unaccesible to mouse and keybord pointer-events-none 3) hide it from screen readers invisible -->
<nav
    class="nav-open nav-links absolute transform translate-x-full bg-white/95 opacity-0 pointer-events-none invisible top-0 left-0 w-full h-screen flex items-center justify-center transition-all duration-700 ease-in"
>
    <ol class="flex flex-col items-center gap-12 sm:gap-8">
        {
            navLinks.map((link) => (
                <li>
                    <a
                        href={link.href}
                        class="inline-block text-gray-800 text-3xl font-medium uppercase hover:text-sky-800 active:text-sky-800 transition-colors duration-300 sm:text-base md:text-lg lg:text-xl xl:text-2xl"
                    >
                        {link.text}
                    </a>
                </li>
            ))
        }
        <li>
            <a
                href="#demandez-un-devis"
                class="inline-block bg-sky-400 text-white text-3xl rounded-xl py-3 px-6 font-medium hover:bg-sky-800 active:bg-sky-800 transition-colors duration-300 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl"
                >Demandez un devis</a
            >
        </li>
    </ol>
</nav>

<!-- .nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
} -->
