---
const navLinks = [
    { text: "Acceuil", href: "/", style: "text-gray-800 hover:text-sky-800" },
    {
        text: "Nos solutions",
        href: "#nos-solutions",
    },
    {
        text: "Témoignages",
        href: "#temoignages",
    },
    { text: "Blog", href: "/blog" },
];
---

<div class="nav-links bg-white">
    <ol class="flex justify-center items-center gap-8">
        {
            navLinks.map((link) => (
                <li>
                    <a
                        href={link.href}
                        class="inline-block text-gray-800  font-medium uppercase hover:text-sky-800 active:text-sky-800 transition-colors duration-300 sm:text-base md:text-lg lg:text-xl xl:text-2xl"
                    >
                        {link.text}
                    </a>
                </li>
            ))
        }
        <li>
            <a
                href="#demandez-un-devis"
                class="inline-block bg-sky-400 text-white rounded-xl py-3 px-6 font-medium hover:bg-sky-800 active:bg-sky-800 transition-colors duration-300 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl"
                >Demandez un devis</a
            >
        </li>
    </ol>
</div>

<!-- .nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover, a:focus {
  background-color: #ff9776;
}

.expanded {
  display: unset;
} -->
