---

---

<section class="bg-red-600 py-8 px-0">
    <div class="grid grid-cols-2 gap-40 max-w-screen-xl mx-auto">
        <div class="bg-black text-2xl p-64">Test 1</div>
        <div class="bg-black text-2xl p-64">Test 2</div>
        <div class="bg-black text-2xl p-64">Test 3</div>
        <div class="bg-black text-2xl p-64">Test 4</div>
    </div>
</section>
