---
import { Image } from "astro:assets";
import digitale from "../content/img/app/digitale.jpg";
import camera from "../content/img/app/camera.jpg";
import paymentTerminal from "../content/img/app/paymentTerminalY.jpg";
import reseaux from "../content/img/app/reseaux.jpg";
---

<section class="pt-24" id="nos-solutions">
    <div class="container mx-auto px-8">
        <span
            class="block mb-4 text-sky-500 text-2xl font-medium uppercase tracking-wider lg:text-3xl"
            >Nos Solutions</span
        >
        <h2
            class="mb-12 text-sky-700 text-5xl tracking-tighter font-bold lg:text-6xl"
        >
            Des services sur mesure pour répondre à vos besoins
        </h2>
    </div>
    <div
        class="container mx-auto px-8 grid grid-cols-1 gap-y-12 md:grid-cols-2 md:gap-x-12 md:gap-y-16 md:items-center"
    >
        <!-- STEP 01 -->
        <div id="digitale">
            <p
                class="mb-3 text-gray-300 text-6xl font-semibold md:text-5xl lg:text-7xl"
            >
                01
            </p>
            <h3
                class="mb-8 text-sky-700 text-5xl tracking-tighter font-bold md:text-4xl lg:text-5xl"
            >
                Solution Digitale
            </h3>
            <p class="text-3xl leading-normal md:text-2xl lg:text-3xl">
                Le site web qui vous donnera de la visibilité. Créez votre site
                Web personnalisé de qualité avec les dernières technologies web
                disponibles
            </p>
            <ol class="pl-10 pt-8 list-disc text-3xl md:text-2xl lg:text-3xl">
                <li>Création de site web & Application web</li>
                <li>Conception graphique</li>
            </ol>
        </div>
        <div>
            <Image src={digitale} alt="image for digitale" />
        </div>
        <!-- STEP 02 -->
        <Image src={camera} alt="sécurité éléctronique" />
        <div id="securite-electronique">
            <p
                class="mb-3 text-gray-300 text-6xl font-semibold md:text-5xl lg:text-7xl"
            >
                02
            </p>
            <h3
                class="mb-8 text-sky-700 text-5xl tracking-tighter font-bold md:text-4xl lg:text-6xl"
            >
                Sécurité éléctronique
            </h3>
            <p class="text-3xl leading-normal md:text-2xl lg:text-3xl">
                Protégez votre propriété, grâce à notre service de
                vidéosurveillance haut de gamme
            </p>
            <ol class="pl-10 pt-8 list-disc text-3xl md:text-2xl lg:text-3xl">
                <li>Vidéo surveillance</li>
                <li>Systèmes d'alarme</li>
                <li>Contrôle d'accès</li>
                <li>Interphonie</li>
            </ol>
        </div>
        <!-- STEP 03 -->
        <div id="gestion-encaissement">
            <p
                class="mb-3 text-gray-300 text-6xl font-semibold md:text-5xl lg:text-8xl"
            >
                03
            </p>
            <h3
                class="mb-8 text-sky-700 text-5xl tracking-tighter font-bold md:text-4xl lg:text-6xl"
            >
                Gestion d'encaissement
            </h3>
            <p class="text-3xl leading-normal md:text-2xl lg:text-3xl">
                Encaissement rapide et fiable, des solutions d'encaissement
                adaptées à vos besoins professionnels
            </p>
            <ol class="pl-10 pt-8 list-disc text-3xl md:text-2xl lg:text-3xl">
                <li>Borne de commande automatisées</li>
                <li>Caisse enregistreuse tactile</li>
                <li>Gestions des stocks</li>
            </ol>
        </div>
        <Image src={paymentTerminal} alt="encaissement" />
        <!-- STEP 4 -->
        <Image src={reseaux} alt="sécurité éléctronique" />
        <di id="informatique-telecom">
            <p
                class="mb-3 text-gray-300 text-6xl font-semibold md:text-5xl lg:text-7xl"
            >
                04
            </p>
            <h3
                class="mb-8 text-sky-700 text-5xl tracking-tighter font-bold md:text-4xl lg:text-6xl"
            >
                Informatique & Télécom
            </h3>
            <p class="text-3xl leading-normal md:text-2xl lg:text-3xl">
                Protégez votre propriété, grâce à notre service de
                vidéosurveillance haut de gamme
            </p>
            <ol
                class="pl-10 pt-8 list-disc text-3xl md:text-2xl md:pl-7 lg:text-3xl lg:pl-10"
            >
                <li>Maintenace informatique</li>
                <li>Solution VoIP</li>
                <li>Réseaux cablés et sans fil</li>
                <li>Sécurité des données</li>
                <li>Réparation de produits (tablette, téléphone, pc)</li>
            </ol>
        </di>
    </div>
</section>
