---

---

<section class="grid grid-cols-2 gap-40 py-40 px-0 bg-red-600">
    <div class="bg-sky-600 text-2xl p-64">Test 1</div>
    <div class="bg-blue-600 text-2xl p-64">Test 2</div>
    <div class="bg-purple-600 text-2xl p-64">Test 3</div>
    <div class="bg-yellow-600 text-2xl p-64">Test 4</div>
</section>
