---
import { Image } from "astro:assets";
import digitale from "../content/img/app/digitale.jpg";
import camera from "../content/img/app/camera.jpg";
import paymentTerminal from "../content/img/app/paymentTerminalY.jpg";
import reseaux from "../content/img/app/reseaux.jpg";
---

<section class="pt-24" id="nos-solutions">
    <div class="container mx-auto px-8">
        <span
            class="block text-sky-500 text-2xl font-medium uppercase mb-4 tracking-wider xl:text-3xl lg:text-2xl"
            >Nos Solutions</span
        >
        <h2
            class="text-sky-700 text-5xl tracking-tighter mb-12 font-bold xl:text-7xl lg:text-6xl"
        >
            Des services sur mesure pour répondre à vos besoins
        </h2>
    </div>
    <div class="container mx-auto px-8 grid grid-cols-1 gap-y-12">
        <!-- STEP 01 -->
        <Image src={digitale} alt="image for digitale" class="" />
        <div id="digitale">
            <p
                class="text-gray-300 text-6xl font-semibold mb-3 xl:text-9xl lg:text-8xl"
            >
                01
            </p>
            <h3
                class="text-sky-700 text-5xl tracking-tighter font-bold mb-8 xl:text-7xl lg:text-6xl"
            >
                Solution Digitale
            </h3>
            <p class="text-3xl leading-normal xl:text-4xl lg:text-3xl">
                Le site web qui vous donnera de la visibilité. Créez votre site
                Web personnalisé de qualité avec les dernières technologies web
                disponibles
            </p>
            <ol class="list-disc p-10 text-3xl xl:text-4xl lg:text-3xl">
                <li>Création de site web & Application web</li>
                <li>Conception graphique</li>
            </ol>
        </div>
        <!-- STEP 02 -->
        <Image src={camera} alt="sécurité éléctronique" />
        <div id="securite-electronique">
            <p
                class="text-gray-300 text-6xl font-semibold mb-3 xl:text-9xl lg:text-8xl"
            >
                02
            </p>
            <h3
                class="text-sky-700 text-5xl tracking-tighter font-bold mb-8 xl:text-7xl lg:text-6xl"
            >
                Sécurité éléctronique
            </h3>
            <p class="text-4xl leading-normal lg:text-3xl">
                Protégez votre propriété, grâce à notre service de
                vidéosurveillance haut de gamme
            </p>
            <ol class="list-disc text-4xl leading-snug p-10 lg:text-3xl">
                <li>Vidéo surveillance</li>
                <li>Systèmes d'alarme</li>
                <li>Contrôle d'accès</li>
                <li>Interphonie</li>
            </ol>
        </div>
        <!-- STEP 03 -->
        <Image src={paymentTerminal} alt="encaissement" />
        <div id="gestion-encaissement">
            <p
                class="text-gray-300 text-6xl font-semibold mb-3 xl:text-9xl lg:text-8xl"
            >
                03
            </p>
            <h3
                class="text-sky-700 text-5xl tracking-tighter font-bold mb-8 xl:text-7xl lg:text-6xl"
            >
                Gestion d'encaissement
            </h3>
            <p class="text-4xl leading-normal lg:text-3xl">
                Encaissement rapide et fiable, des solutions d'encaissement
                adaptées à vos besoins professionnels
            </p>
            <ol class="list-disc text-4xl leading-snug p-10 lg:text-3xl">
                <li>Borne de commande automatisées</li>
                <li>Caisse enregistreuse tactile</li>
                <li>Gestions des stocks</li>
            </ol>
        </div>
        <!-- STEP 4 -->
        <Image
            src={reseaux}
            alt="sécurité éléctronique"
            class="w-auto h-auto"
        />
        <di id="informatique-telecom">
            <p
                class="text-gray-300 text-6xl font-semibold mb-3 xl:text-9xl lg:text-8xl"
            >
                04
            </p>
            <h3
                class="text-sky-700 text-5xl tracking-tighter font-bold mb-8 xl:text-7xl lg:text-6xl"
            >
                Informatique & Télécom
            </h3>
            <p class="text-4xl leading-normal lg:text-3xl">
                Protégez votre propriété, grâce à notre service de
                vidéosurveillance haut de gamme
            </p>
            <ol class="list-disc text-4xl leading-snug p-10 lg:text-3xl">
                <li>Maintenace informatique</li>
                <li>Solution VoIP</li>
                <li>Réseaux cablés et sans fil</li>
                <li>Sécurité des données</li>
                <li>Réparation de produits (tablette, téléphone, pc)</li>
            </ol>
        </di>
    </div>
</section>
