---
import HeaderSection from "./HeaderSection.astro";
import SolutionCard from "./SolutionCard.astro";

const HeadersubTitle = "Nos Solutions";
const HeaderTitle = "Des services sur mesure pour répondre à vos besoins";
---

<section class="pt-24" id="nos-solutions">
    <HeaderSection HeadersubTitle={HeadersubTitle} HeaderTitle={HeaderTitle} />
    <SolutionCard />
</section>
