---
import { Image } from "astro:assets";
import akdag from "../content/img/logos/akdag.png";
---

<section class="grid grid-cols-2">
    <div>
        <!-- heading Testimonial -->
        <span>Testimonials</span>
        <h2>L'expérience de nos clients avec notre service</h2>
        <!-- Testimonial container -->
        <div>
            <figure>
                <img alt="Photo of customer Dave Bryson" />
                <blockquote>
                    Inexpensive, healthy and great-tasting meals, without even
                    having to order manually! It feels truly magical.
                </blockquote>
                <p>— Dave Bryson</p>
            </figure>
            <figure>
                <img alt="Photo of customer Ben Hadley" />
                <blockquote>
                    The AI algorithm is crazy good, it chooses the right meals
                    for me every time. It's amazing not to worry about food
                    anymore!
                </blockquote>
                <p>— Ben Hadley</p>
            </figure>
            <figure>
                <img alt="Photo of customer Steve Miller" />
                <blockquote>
                    Omnifood is a life saver! I just started a company, so
                    there's no time for cooking. I couldn't live without my
                    daily meals now!
                </blockquote>
                <p>— Steve Miller</p>
            </figure>
            <figure>
                <img alt="Photo of customer Hannah Smith" />
                <blockquote>
                    I got Omnifood for the whole family, and it frees up so much
                    time! Plus, everything is organic and vegan and without
                    plastic.
                </blockquote>
                <p>— Hannah Smith</p>
            </figure>
        </div>
    </div>
    <!-- Gallery -->
    <div>
        <figure>
            <img alt="Photo of beautifully arranged food" />
        </figure>
    </div>
</section>
