---
import { Image } from "astro:assets";

import dave from "../content/img/customers/dave.jpg";
import hannah from "../content/img/customers/hannah.jpg";
import steve from "../content/img/customers/steve.jpg";
import ben from "../content/img/customers/ben.jpg";

const testimonials = [
    {
        src: dave,
        name: "Aissata Diallo",
        text: "La pose de mon interphone avec cette société c'est passé à merveille je l'est recommande fortement, le travail est propre et très bien fait de plus ils sont sérieux.",
    },
    {
        src: hannah,
        name: "Gul Erk",
        text: "Bonjour, j’ai fais réparer mon téléphone et franchement je ne regrette pas. Très professionnel travail très propres. Je recommande les yeux fermés",
    },
    {
        src: steve,
        name: "Tansu Argac",
        text: "Je recommande fortement merci pour l’installation de mes caméras furkan et omer et très bon binôme professionnel et toujours à l’écoute.",
    },
    {
        src: ben,
        name: "Nicovali Longevolier",
        text: "Compétences, amabilité, sérieux, rapidité ET tarifs qui défient toute concurrence. Je recommande + + +",
    },
];
---

<div class="container mx-auto">
    <div class="flex flex-wrap">
        {
            testimonials.map((testimonial) => (
                <div class="w-full md:w-1/2 mb-8 p-4">
                    <div class="flex flex-col gap-y-3 xl:gap-y-8">
                        <figure>
                            <Image
                                src={testimonial.src}
                                alt={`Image of ${testimonial.name}`}
                                class="rounded-full w-24"
                            />
                        </figure>
                        <blockquote class="text-2xl mb-4 leading-normal 2xl:text-3xl">
                            {testimonial.text}
                        </blockquote>
                        <p class="text-xl 2xl:text-2xl">— {testimonial.name}</p>
                    </div>
                </div>
            ))
        }
    </div>
</div>
