---
import HeaderSection from "./HeaderSection.astro";
import TestimonialCustomer from "../components/TestimonialCustomer.astro";
import Gallery from "../components/Gallery.astro";

const HeadersubTitle = "Témoignages";
const HeaderTitle = "L'expérience de nos clients avec notre service";
---

<section class="bg-sky-100 py-24 px-8" id="temoignages">
    <HeaderSection HeadersubTitle={HeadersubTitle} HeaderTitle={HeaderTitle} />
    <div class="container mx-auto xl:flex xl:gap-12 xl:items-center">
        <div class="xl:w-1/2">
            <TestimonialCustomer />
        </div>
        <div class="xl:w-1/2 2xl:1/2">
            <Gallery />
        </div>
    </div>
</section>
