---
import { Image } from "astro:assets";
const { image, logos, copyright } = Astro.props;
---

<div class="flex flex-col gap-8 md:w-1/5">
    <a href="#">
        <Image src={image} alt="ay solution logo" class="h-44 w-48" />
    </a>
    <ul class="flex">
        {
            logos.map((logo) => (
                <li>
                    <ion-icon class="h-10 w-10 px-3" name={logo.name} />
                </li>
            ))
        }
    </ul>
    <p class="text-gray-400 text-lg leading-tight md:text-xl">
        <span class="year"></span>
        {copyright}
    </p>
</div>
