---
import { Image } from "astro:assets";
const { galleryImages } = Astro.props;
---

<div class="flex flex-wrap gap-y-1">
    {
        galleryImages.map((image) => (
            <div class="p-2 w-1/3 xl:w-1/3">
                <figure class="overflow-hidden rounded shadow-lg">
                    <Image
                        src={image}
                        alt="Gallery image"
                        class="block transform transition-transform duration-300 hover:scale-105 w-full"
                    />
                </figure>
            </div>
        ))
    }
</div>
