---
import HeaderSection from "../HeaderSection.astro";
import TestimonialCustomer from "./TestimonialCustomer.astro";
import Gallery from "./Gallery.astro";

import dave from "../../content/img/customers/dave.jpg";
import hannah from "../../content/img/customers/hannah.jpg";
import steve from "../../content/img/customers/steve.jpg";
import ben from "../../content/img/customers/ben.jpg";

import w25 from "../../content/img/whatsApp/IMG-20241002-WA0025.png";
import w09 from "../../content/img/whatsApp/IMG-20241002-WA0009.png";
import w24 from "../../content/img/whatsApp/IMG-20241002-WA0024.png";
import w04 from "../../content/img/whatsApp/IMG-20241002-WA0004.png";
import w05 from "../../content/img/whatsApp/IMG-20241002-WA0005.png";
import w20 from "../../content/img/whatsApp/IMG-20241002-WA0020.png";
import w18 from "../../content/img/whatsApp/IMG-20241002-WA0018.png";

const testimonials = [
    {
        src: dave,
        name: "Aissata Diallo",
        text: "La pose de mon interphone avec cette société c'est passé à merveille je l'est recommande fortement, le travail est propre et très bien fait de plus ils sont sérieux.",
    },
    {
        src: hannah,
        name: "Gul Erk",
        text: "Bonjour, j’ai fais réparer mon téléphone et franchement je ne regrette pas. Très professionnel travail très propres. Je recommande les yeux fermés",
    },
    {
        src: steve,
        name: "Tansu Argac",
        text: "Je recommande fortement merci pour l’installation de mes caméras furkan et omer et très bon binôme professionnel et toujours à l’écoute.",
    },
    {
        src: ben,
        name: "Nicovali Longevolier",
        text: "Compétences, amabilité, sérieux, rapidité ET tarifs qui défient toute concurrence. Je recommande + + +",
    },
];

const galleryImages = [w18, w18, w18, w20, w05, w04, w24, w09, w25];

const HeadersubTitle = "Témoignages";
const HeaderTitle = "L'expérience de nos clients avec notre service";
---

<section class="bg-sky-100 py-24" id="temoignages">
    <HeaderSection HeadersubTitle={HeadersubTitle} HeaderTitle={HeaderTitle} />
    <div class="container mx-auto px-8 xl:flex xl:gap-12 xl:items-center">
        <div class="xl:w-1/2">
            <TestimonialCustomer testimonials={testimonials} />
        </div>
        <div class="xl:w-1/2 2xl:1/2">
            <Gallery galleryImages={galleryImages} />
        </div>
    </div>
</section>
